.slider {
    position: relative;
    max-width: 100%;
}

.slider img {
    max-width: 100%;
}

.slider-content {
    overflow: hidden;
}

.scroll-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    
}

.slider-button {
    width: 30px;
    height: 30px;
    position: absolute;
    border: none;
    border-radius: 50%;
    line-height: 30px;
    outline: none;
    cursor: pointer;
}

.slider-button:active, .slider-button:hover {
    box-shadow: 0 0 3px 1px #f51;
}

.slider-button--prev {
    left: -50px;
}

.slider-button--next {
    right: -50px;
}

@media screen and (max-width: 576px){
    .slider-button--prev {
        left: -20px;
    }
    
    .slider-button--next {
        right: -20px;
    }
}